<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>65614441397-pa0qtsctgrukg7896i9o72jr7me6asa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65614441397-pa0qtsctgrukg7896i9o72jr7me6asa0</string>
	<key>API_KEY</key>
	<string>AIzaSyCdvhUYT1Wp5SXTH28Is24YEQatvR4v--0</string>
	<key>GCM_SENDER_ID</key>
	<string>65614441397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abn.ABNRider</string>
	<key>PROJECT_ID</key>
	<string>abnrider-a4cac</string>
	<key>STORAGE_BUCKET</key>
	<string>abnrider-a4cac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65614441397:ios:113b5ea37f171c79</string>
	<key>DATABASE_URL</key>
	<string>https://abnrider-a4cac.firebaseio.com</string>
</dict>
</plist>